@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.container {
  padding: 0 20px;
  max-width: 1170px;
  width: calc(100% - 40px);
  margin: 0 auto;
  margin-bottom: 100px;
}
.container h2,
.container h1 {
  text-align: center;
  font-size: 25px;
}
header {
  align-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 64px;
  box-shadow: 20px 40px 30px rgba(39, 35, 67, 0.02);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 75px;
  justify-content: space-between;
  left: 15px;
  margin: 0 0 0 0;
  padding: 0px 20px 0px;
  position: fixed;
  right: 15px;
  top: 15px;
  width: auto;
  z-index: 5;
  max-width: 100%;
}

div.containerMenu {
  align-self: center;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.containerMenu a {
  color: #272343;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  margin: 0 35px;
}
.my-form input,
.my-form select,
.my-form textarea {
  margin-top: 5px;
}
header > div {
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
}
.error {
  color: #f81649;
}
.containerMenu .navigation a {
  background: linear-gradient(
      to top,
      rgba(248, 22, 73, 0.4) 0%,
      rgba(248, 22, 73, 0.4) 6px,
      transparent 10px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.containerMenu a.add-product {
  background-color: #f81649;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  position: absolute;
  width: 150px;
  top: 70px;
  right: 20px;
  text-align: center;
}
.containerMenu .my-products {
  color: black !important;
  background: white !important;
  right: 260px !important;
  border: 2px solid #f81649;
}
.containerMenu .navigation a:hover {
  background-size: 100% 100%;
}
.containerMenu .navigation a.active {
  background-size: 100% 100%;
}
img.logo {
  width: 50px;
  padding: 10px;
}

a.logoLink {
  align-content: flex-start;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0);
  border-bottom: 0px solid #f7f8fa;
  border-left: 0px solid #f7f8fa;
  border-right: 1px solid #f7f8fa;
  border-top: 0px solid #f7f8fa;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  padding: 0px 40px 0px 0px;
  width: auto;
  max-width: calc(100% - 40px);
  height: 100%;
}
body {
  padding-top: 130px;
  background-color: #f9fafc;
}

.my-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.my-form textarea {
  height: 150px;
  resize: none;
  box-sizing: border-box;
  width: 100%;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.logout-btn {
  position: fixed;
  bottom: 30px;
  right: 0;
  border-radius: 50px;
  background: white !important;
  padding: 10px 20px;
  z-index: 4;
  border: 2px solid black;
}
.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f81649;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #f81649;
}
.icon > input {
  padding-left: 0;
  padding-right: 20px;
  text-align: right;
}
.icon > i {
  position: absolute;
  display: block;
  top: 15px;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
  right: 0;
}
.icon {
  position: relative;
}
/* Profile / Commandes */
summary.order {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50px;
  background: white;
}

.order details {
  width: 100%;
  box-sizing: border-box;
  margin: 30px 0;
}
.order .product img {
  max-width: 150px;
}

.order .product {
  display: flex;
  padding: 20px;
  margin-top: -20px;
  background: white;
  padding-top: 40px;
}
.order .product .desc {
  padding-left: 20px;
}
details .container-price {
  padding: 10px 20px;
  background: white;
  border-top: 1px solid lightgray;
}
details .price {
  font-weight: bold;
  background: linear-gradient(
      to top,
      rgba(248, 22, 73, 0.4) 0%,
      rgba(248, 22, 73, 0.4) 6px,
      transparent 10px
    )
    no-repeat;
  background-size: 30px 100%;
}
.order .product .desc p {
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  #nav-icon1 {
    display: none;
  }
}

/* Menu Burger */

#nav-icon1 {
  width: 50px;
  height: 40px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #f81649;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (max-width: 800px) {
  div.navigation {
    display: none;
  }
  a.logoLink {
    padding: 0;
    border: none;
    margin: 0;
  }
  .navigation.open {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    position: absolute;
    gap: 20px;
    top: 75px;
    max-width: calc(100% - 80px);
    padding: 45px 0;
    border-radius: 0 0 50px 50px;
  }
  .containerMenu .navigation a.active,
  .containerMenu .navigation a:hover {
    background-size: 30px 100%;
  }
  .containerMenu .navigation.open .my-products,
  a.add-product.noactive {
    position: relative;
    top: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
  }
  header {
    padding: 0 40px 0;
  }
}
