.products {
  width: 100%;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.product-card img {
  max-width: 220px;
  width: 100%;
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  transition: 200ms ease-in-out;
  cursor: pointer;
  width: auto;
  max-width: 220px;
}

.product-card p,
.product-card h3 {
  margin: 0;
}

.product-card:hover {
  background-color: lightgray;
}

.product-card p {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  white-space: nowrap;
}

#search{
  padding: 2px;
  border: 1px solid black;
  border-radius: 15px;
}

#search-btn{
  text-decoration: none;
  margin-left: 5px;
  color: black;
}