.product-card {
  background: white;
  padding: 20px;
  display: flex;
  border-radius: 30px;
}
.stars {
  color: orange;
  padding: 20px 0;
}
.button-add-to-cart {
  cursor: pointer;
  color: white;
  background-color: #f81649;
  margin-top: 10px;
  padding: 8px;
  border: 0px;
  border-radius: 10px;
  width: fit-content;
}
.product-card p {
  margin: 0;
}
.product-card .desc {
  margin-left: 30px;
}

@media screen and (max-width: 800px) {
  .product-card {
    flex-direction: column;
  }
  .product-card .desc {
    margin-left: 0;
  }
  .product-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .product-image img {
    width: 100%;
    max-width: 250px;
  }
}
